<!-- This is recreating the index page in html, and nicely seperating the content from the style  -->

<!DOCTYPE html>
<html class="no-js">
<head>
<link href="/static/css/index.css"     rel="stylesheet" type="text/css" />

</head>
    <body id="home">      <!-- id=home is in the app.js file. This seperates everthing into blocks-->
        <section class="homepage">           <!-- class=main-content is also refences by app.js. helps center block into whole screen -->
            <article class="page" data-id="podcasts" id="podcasts">
                <div data-id="container">    <!-- id=bige references add.js file this centers the content -->
                    <div class="box">
                        <img src="/static/Images/Jupiter_and_Ganymede.jpg" alt="science" width="500">
                        <div class="caption fade-caption">
                            <h2>Aliens in the Solar System</h2>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h6>6.20 min  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 4 days remaining</h6>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/static/Images/Tate_Creed.jpg" alt="humanities" width="500" height="375">
                            <div class="caption fade-caption">
                            <h2>It's at Tate but is it art?</h2>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h6>6.20 min  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 4 days remaining</h6>
                        </div>
                    </div>
                    <figure class="scroll" data-id="scroll-down">
                        <div>Scroll Down</div>
                    </figure>
                </div>
            </article>
            <article class="page" data-id="about" id="about">
                <div data-id="container">
                    <p>more bige</p>
                    <figure class="scroll" data-id="scroll-down">
                        <div>down</div>
                    </figure>
                </div>
            </article>
            <article class="page" data-id="contribute" id="contribute">
                <div data-id="container">
                    <p> yet more bige!</p>
                    <figure class="scroll" data-id="scroll-top">
                        <div>Top</div>
                    </figure>
                </div>
            </article>
        </section>
    </body>
    <script src="/static/js/app.js"></script>
</html>
