html, body { height: 100% }

body {
  margin: 0 auto;
  background-color: ;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#audio_controls {
  background: rgba(0, 0, 0, 0.4);
  background: #222;
  padding: 5px;
  margin: 0 auto;
  width: 490px;
  border-radius: 0 0 3px 3px;
  top: 50px;
  overflow: hidden;
}

#audio_controls button {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: top;
  background: transparent;
  border: none;
  padding: 10px;
  border-radius: 2px;
  transition: box-shadow 0.2s;
  color: white;
}

#audio_controls button:hover {
  box-shadow: inset 0 -40px 0 rgba(255, 255, 255, 0.4);
}

#audio_controls button:active {
  box-shadow: inset 0 -40px 0 rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.7);
}

#progress {
  position: relative;
  z-index: 50;
  width: 400px;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.4);
  vertical-align: top;
  margin: 0;
  border-radius: 2px;
  height: 40px;
  overflow: hidden;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 40px;
  background: #4CA2B9;
  transition: background 0.2s;
}

#progress::-webkit-slider-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

#sound_box_outer {
  display: none;
  position: absolute;
  background: transparent;
  width: 30px;
  height: 125px;
  margin-top: -45px;
  margin-left: 440px;
  padding: 15px;
  padding-top: 55px;
  border-radius: 3px;
}

#sound_box {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  background: #222;
  width: 30px;
  height: 125px;
  border-radius: 3px;
  z-index: 10;
}

#sound_text {
  display: block;
  font-family: calibri;
  margin-top: 105px;
  text-align: center;
  color: white;
}

#sound_bar {
  position: absolute;
  z-index: 50;
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.4);
  vertical-align: top;
  margin: 0;
  margin-top: 45px;
  margin-left: -35px;
  border-radius: 2px;
  height: 20px;
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#sound_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #4CA2B9;
  width: 10px;
  height: 40px;
}

#pause_button {
  display: none;
}

#play_icon {
  margin: 0 auto;
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#pause_icon {
  margin: 0 auto;
  display: block;
  width: 15px;
  height: 15px;
  background: linear-gradient(90deg, white 37%, transparent 37%, transparent 63%, white 63%);
}

#sound_icon {
  width: 4px;
  height: 10px;
  margin-left: 4px;
  background: white;
  display: block;
}

#sound_icon:after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  margin-top: -6px;
  margin-left: -7px;
  border-right: 6px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

#sound {
  position: absolute;
  height: 40px;
  margin-left: 138px;
  background: transparent;
  width: auto;
  opacity: 0;
}

#sound span {
  display: inline-block;
  margin-top: 3px;
  width: 20px;
  height: 34px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-animation: beat 0.7s infinite;
  animation: beat 0.7s infinite;
}

#sound span:nth-child(6n + 1) {
  animation-delay: 0.5s;
}

#sound span:nth-child(6n + 2) {
  animation-delay: 0.8s;
}

#sound span:nth-child(6n + 3) {
  animation-delay: 0.3s;
}

#sound span:nth-child(6n + 4) {
  animation-delay: 0.9s;
}

#sound span:nth-child(6n + 5) {
  animation-delay: 0.5s;
}

#sound span:nth-child(6n + 6) {
  animation-delay: 0s;
}

@-webkit-keyframes beat {
  0% {
    height: 13px;
    margin-top: 25px;
  }
  40% {
    height: 34px;
    margin-top: 3px;
  }
  100% {
    height: 13px;
    margin-top: 25px;
  }
}

@-moz-keyframes beat {
  0% {
    height: 13px;
    margin-top: 25px;
  }
  40% {
    height: 34px;
    margin-top: 3px;
  }
  100% {
    height: 13px;
    margin-top: 25px;
  }
}

@-ms-keyframes beat {
  0% {
    height: 13px;
    margin-top: 25px;
  }
  40% {
    height: 34px;
    margin-top: 3px;
  }
  100% {
    height: 13px;
    margin-top: 25px;
  }
}

@keyframes beat {
  0% {
    height: 13px;
    margin-top: 25px;
  }
  40% {
    height: 34px;
    margin-top: 3px;
  }
  100% {
    height: 13px;
    margin-top: 25px;
  }
}

#progress_bar {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 40px;
  margin-left: 44px;
  margin-top: -40px;
  border-radius: 2px 0 0 2px;
}
