/* audio-doc box */
 .box {  
  
    cursor: pointer;  
    height: 600px;  
    float: left;  
    margin: 5px;  
    position: relative;  
    overflow: hidden;  
    width: 600px;  
  
}  
  
 .box img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
}  


.box .caption {  
    font-family: Tahoma;
    font-size: .5em;
    background-color: rgba(0,0,0,0.8);  
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;  
    opacity: 0;  
    width: 500px;  
    height: 375px;  
    text-align: center;  
    padding: 15px;
}  
 

 .box:hover .fade-caption {  
    opacity: 0.7;  
}  