/* sticky footer. define page-wrap to be able to put a footer after it */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}
.footer {
	background: #ECB29E;
	position: fixed;
    color: black;
    width: 100%;
    height: 5em;
    /*background-repeat: repeat-x;*/
    overflow: hidden;
    bottom: 0px;
}