.about_header{
  margin-top: 70px;
  text-align: center;
  background-color: #f5f5f5;
}
.about_title{
  font-size: 57px;
  border-bottom: 5px solid rgba(255, 194, 28, 0.8);
  padding-bottom: 60px;
  width: 90%;
  margin: auto;
}
.about_title_1{
  margin-top: 47px;
}

.about_description {
    font-size: 11px;
}
#about-block_1{
  margin-top:12px;
  border-radius:6px;
  margin-left: 12px;
  margin-right: 12px;
  /* to make the 'About' description vertically centered */
  padding-bottom: 49px;
  padding-top: 45px;
}

#about_page-left #about_page-right{
    text-align:center;
    font-size:1.5em;
    margin-top:50px;
    margin-bottom:50px;
    /*padding-right:40px;*/
}
#about_page-right{
  padding-top: 30px;
}
 @media(max-width:768px) {
  #about_page-left #about_page-right{
   font-size: 1em;
  }
}
body{
  background-color: #f9f9f9
}

.about_block_1 {
    color: #fff;
    background: #33353d;
}
.about_block_2 {
    color: #33353d;
    background: #ffc21c;
}
h3{
  text-transform: none;
  font-size: 40px;
  text-align: center;
}
.vertical-line_right{
  border-right: thick solid rgba(51, 53, 61, 0.9);
  padding-right: 4em;
}
.vertical-line_left{
  border-left: thick solid #ffc21c;
  padding-left: 4em;
}
.flash_sem_episode-title{
  font-size: 34px;
  font-family: 'Lato';
  font-weight: 300;
  color: #33353d;
  background-color: rgba(255, 194, 28, 0.8);
  margin-bottom: 30px;
  display: inline-block;
  line-height: 110%;
  padding: 0.3em 0.4em;
  border-radius: 10px;
}
.flash_sem_wrapper{
  text-align: center;
}
.flash_sem_description{
  color: #3e3e3e;
  text-align: center;
}
.flash_sem_sessions{
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}
.flash_sem_sessions_title{
  text-transform: none;
  font-style: italic;
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}
.flash_sem_session_info{
  text-align: center;
  margin: 10 25px;
}
.flash_sem_session_date-place > p{
  font-style: italic;
  font-size: 15px;
  color: #737373;
}
.flash_sem_topic_description{
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
}

.flash_sem_author_image{
  width: 100%;
}
.upcoming_session{
  text-decoration: underline;
  color: rgba(51, 53, 61, 0.62);
  margin: 25px 10%
}
footer .footer-above{
  background-color: #FFC21C;
}
footer .footer-below{
  background-color: #FFC21C;
}

@media (min-width: 1200px){
  .container {
      width: 1200px;
  }
}
@media(max-width:768px){
  /*.navbar-brand {
    padding: 0px;
    margin-bottom: 5px;
  }*/
  .vertical-line_right {
    border-right: none;
  }
  .about_title_1{
    margin-top: 0px;
  }
  .about_description{
    font-size: 3px;
    margin-top: 35px;
  }
  .flash_sem_author_image {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 25px;
  }
  .flash_sem_topic_description {
    margin-top: 30px;
    width: 100%;
    margin-left: 0px;
  }
  .flash_sem_sessions{
    width: 100%;
    margin-left: 0px;
  }
}
@media(max-width:500px){
  .flash_sem_author_image {
    width: 60%;
    margin-left: 20%;
  }
}
