.annotator-hl {
    cursor: pointer;
}
.annotator-viewer_show {
    display: block !important;
    visibility: visible !important;
}
.annotator-widget::after {
    background-image: initial;
}
#annotator-close_span {
  position: absolute;
  left: 479px;
  top: -17px;
  cursor: pointer;
}
/* close button */
.annotator-close{
  width: 27px;
}
.annotator_close_mouseover{
  visibility: hidden;
  position: absolute;
  bottom: 35px;
  right: 10px;
  font-size: 12px;
  color: #3c3c3c;
}
#annotator-close_span:hover .annotator_close_mouseover{
  visibility: visible;
}
.knowit_button{
  border: 1.5px solid black;
  border-radius: 7px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 499px;
  left:710px;
}
.knowit_button_svg{
  margin-top: 28%;
  margin-left: 28%;
}
.knowit_button:hover{
  border: solid 1.5px black;
  background-color: #ffc21c;
}
