
/*force height manually to make room for the circular player on mobile*/
@media(max-width:768px){
	#switching_audioplayers{
		position: relative;
		height: 300px;
	}
}
/* Centering */
#circular_container, #circular_progress, #circular_player, #flip-back, .circular_cover, .playlist {
	  position: absolute;
	  margin-left: 20px;
	  top: 0;
	  left: 0;
	  right: 0;
  	bottom: 0;
}

#circular_container {
	  width: 320px;
	  height: 320px;
  perspective: 550px;
	  -webkit-perspective: 550px;
  transform-style: preserve-3d;
	  -webkit-transform-style: preserve-3d;
}

#circular_player {
  	width: 300px;
	  height: 300px;
	  background: #f333;
  	border-radius: 50%;
	  overflow: hidden;
	  box-shadow: 2px 2px 20px 0 rgba(0,0,0,.3);
	  z-index: 300;
}

#circular_progress {
	  width: 328px;
	  height: 328px;
	  z-index: 200;
  filter: blur(1px);
	  -webkit-filter: blur(1px);
	  transition: all .5s ease-in-out;
	  -webkit-transition: all .5s ease-in-out;
		position: relative;
		left: -14px;
		top: -14px;
}

#flip-back {
	  width: 300px;
	  height: 300px;
	  background: #313131;
	  border: 4px solid #AEAEAE;
	  border-radius: 50%;
	  overflow: hidden;
	  box-shadow: inset 0 -10px 10px -5px rgba(0,0,0,.3), 2px 2px 20px 0 rgba(0,0,0,.3); /* inner + outer */
  transform: rotateY(-180deg);
	  -webkit-transform: rotateY(-180deg);
}

/* Image */
img {
  	width: 100%;
	  height: 100%;
	  background: #333;
	  opacity: .75;
	  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
}

/* Fade */
#circular_container:hover .circular_cover{
	  opacity: .9;
}

.circular_cover{
	  opacity: .8;
	  transition: all .3s ease-in-out;
	  -webkit-transition: all .3s ease-in-out;
}

/* Player Buttons */
.circular_controls {
	  position: relative;
	  width: 100%;
	  color: #ffc21c;
	  text-align: center;
}

button {
	  margin: 10px;
	  color: #ffc21c;
	  background: transparent;
	  border: 0;
	  outline: 0;
	  cursor: pointer;
	  text-align: center;
	  text-shadow: 1px 1px 3px #000;
	  transition: all .3s ease-in-out;
	  -webkit-transition: all .3s ease-in-out;
}

button:hover {
	color: #ffc21c;
	  /*color: #26C5CB;*/
}

#play-pause {
	  width: 46px;
	  height: 46px;
	  transition: all .5s ease-in-out;
	  -webkit-transition: all .5s ease-in-out;
		font-size: 1.3em;
		position: relative;
		right: 8px;
	}
#forward, #backward {
	font-size: 1.3em;
}

#remaining {
	font-size: 24px;
	font-weight: bold;
}

/* Volume */
input[type='range'] {
	  display: block;
	  margin: 14px auto;
	  width: 120px;
  height: 2px;
	  outline: 0;
	  cursor: pointer;
	  box-shadow: 1px 1px 3px 0 #000;
	  -webkit-appearance: none !important;
}

input[type='range']::-webkit-slider-thumb {
  background: #AEAEAE;
  height: 6px;
  width: 6px;
	  border-radius: 50%;
  transition: .1s all linear;
	  -webkit-transition: .1s all linear;
  -webkit-appearance: none !important;
}

input[type='range']:hover::-webkit-slider-thumb {
  	background: #ffc21c;
	  -webkit-transform:scale(2);
}

/* Checkboxes */
input[type=checkbox] {
  	position: absolute;
	  top: -9999px;
	  left: -9999px;
}

/* Flip Back */
#circular_player, #flip-back {
	  backface-visibility: hidden;
	  -webkit-backface-visibility: hidden;
	  transition: transform .5s ease-in-out;
	  -webkit-transition: -webkit-transform .5s ease-in-out;
}

#to-back:checked ~ #circular_player {
	  z-index: -1;
  transform: rotateY(180deg);
	  -webkit-transform: rotateY(180deg);
}

#to-back:checked ~ #circular_progress {
	  opacity: 0;
  transform: rotate(0);
	  -webkit-transform: rotate(0);
}

#to-back:checked ~ #flip-back .playlist {
	  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.circular_cover {
	  padding-top: 130px;
	  transition: all .5s ease-in-out;
	  -webkit-transition: all .5s ease-in-out;
}
