/* TODO: refactor this: merge with knowitwallredux.css (after cleaning knowitwallredux.css) */

/* container with a small padding for the episodes section, otherwise the content spills out of the
browser for some reason.. */
.episodes_container{
  padding-left: 21px;
  padding-right: 21px;
}
.about_hidden_anchor{
  visibility:hidden;
  position: relative;
  bottom: 86px;
}
/*darken homepage box images on hover */
.homepage_box_episode:hover > .homepage_overlay {
    /*position: absolute;*/
    /*top: 1px;*/
    /*width:100%;*/
    height:100%;
    /*left: 1px;*/
    background: rgba(0, 0, 0, 0.6);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    display: block;
    border-radius: 6px;
}

.homepage_hidden_info{
  display: none;
}
body{background-color: #f8f8f8}
.homepage_overlay:hover > .homepage_hidden_info{
  display:inline;
}
/* homepage boxes: rows and column styling (to override bootstrap) */
.homepage_box_row{
  padding-top: 12px
}
.homepage_box_col{
  padding-left: 6px;
  padding-right: 6px;
}
/* overrides knowitwallredux.css padding on the #episodes section */
#episodes{
  padding-top: 0px;
  padding-bottom: 0px;
}
.homepage_box_about{
  color: #fff;
  background: #33353d;
  height:400px;
}
.homepage_box_about h2{
  padding-top: 40px;
  font-size: 50px;
}
.homepage_box_about p{
  text-align: justify;
  font-size: 15px;
  padding-top: 15px;
  line-height: 25px;
}
.homepage_About_description{
  border-top: 3px solid #ffc21c;
  margin: 45px 100px;
  padding-top: 23px;
}
/*TODO: add this to the class in redux!*/
.box_episode_title{
  text-align: center;
  margin-top: 64px;
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
}
/* change the font size for the bigger boxes on the homepage */
.box_episode_title_bigger{
  font-size: 28px;
  margin-left: 10px;
  margin-right: 10px;
}
#contribute{
  margin-top: 12px;
}
/* Episode boxes on the homepage */
.homepage_box_episode{
  height: 400px;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  border-radius:6px
}
.homepage_box_more_episodes{
  height:400px;
  text-align: center;
  background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url('/static/Images/all_episodes_centered.jpg');
  background-size:cover;
}
.homepage_box_more_episodes h2{
  padding-top: 30px;
   padding-top:160px;
   font-size:60px;
   font-weight:300;
}
.more_episodes_redirect{
  color: inherit;
}
.homepage_box_abstract{
  color: white;
  font-size: 16px;
  margin: 6.5% 18% 0px 18%;
  text-align: center;
  line-height: 23px;
}
.homepage_box_by-in{
  font-size: 17px;
}
#all_episodes{
  background-color: #ffc21c;
  border-radius: 5px;
  color: #27282D;
}
.label_wrapper{
  position: absolute;
  left: 20px;
  border-radius:50px;
  height:35px;
  width:35px;
  /*background-color: white;*/
  background-color: transparent;
  border: 2px solid white;
}


.audio-film_label{
  color: white;
  position:relative;
  top:5px;
  left:0.5px;
}
.audio_label_wrapper{
  bottom:20px;
}
.film_label_wrapper{
  bottom:65px;
}
.label_wrapper_landing_page{
  position: absolute;
  left: 20px;
  border-radius:50px;
  height:46px;
  width:46px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.audio_label_wrapper_landing_page{
  bottom:30px;
}
.film_label_wrapper_landing_page{
  bottom: 90px;
}
.audio-film_label_landing_page{
  position:relative;
  top:11px;
  left:0.5px;
  font-size: 20px;
}
.latest_landing_page{
  position:absolute;
  right: 50px;
  bottom: 50px;
  background-color:transparent;
  color:white;
  border: 2px solid white;
  font-size:12px;
  cursor: auto;
}
