/* TODO: refactor this: merge with knowitwallredux.css (after cleaning knowitwallredux.css) */

/* container with a small padding for the episodes section, otherwise the content spills out of the
browser for some reason.. */
.episodes_container{
  padding-left: 15px;
  padding-right: 15px;
}
.about_hidden_anchor{
  visibility:hidden;
  position: relative;
  bottom: 86px;
}
/*darken homepage box images on hover */
.homepage_box_episode:hover > .homepage_overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    display: block;
}
.homepage_hidden_info{
  display: none;
}
.homepage_overlay:hover > .homepage_hidden_info{
  display:inline;
}
/* homepage boxes: rows and column styling (to override bootstrap) */
.homepage_box_row{
  padding-top: 0px
}
.homepage_box_col{
  padding-left: 0px;
  padding-right: 0px;
}
/* overrides knowitwallredux.css padding on the #episodes section */
#episodes{
  padding-top: 0px;
  padding-bottom: 0px;
}
.homepage_box_about{
  color: #fff;
  background: #33353d;
  height:400px;
}
.homepage_box_about h2{
  padding-top: 40px;
  font-size: 50px;
}
.homepage_box_about p{
  text-align: justify;
  font-size: 15px;
  padding-top: 15px;
  line-height: 25px;
}
.homepage_About_description{
  border-top: 3px solid #ffc21c;
  margin: 45px 100px;
  padding-top: 23px;
}
/*TODO: add this to the class in redux!*/
.box_episode_title{
  text-align: center;
  font-size: 20px;
  margin-top: 10%;
}
/* Episode boxes on the homepage */
.homepage_box_episode{
  height: 400px;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
}
.homepage_box_more_episodes{
  height:400px;
  text-align: center;
  background-image:linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url('/static/Images/all_episodes.jpg');
  background-size:cover;
}
.homepage_box_more_episodes h2{
  padding-top: 30px;
   padding-top:160px;
   font-size:60px;
   font-weight:300;
}
.more_episodes_redirect{
  color: inherit;
}
.homepage_box_abstract{
  color: white;
  font-size: 14px;
  margin: 52px 18% 0px 18%;
  text-align: center;
  line-height: 23px;
}
.homepage_box_by-in{
  font-size: 16px;
}
