/* Base CSS for Knowitwall */



/* BASIC STUFF (from the default bootstrap theme) */
body {
    overflow-x: hidden;
	color:#33353d;
  background-color: white;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

p.justify {
  text-align: justify;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 300;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}
label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}


/* NAVBAR STUFF */
.navbar-default .navbar-nav>li>a {
    color:#d2d2d2;
}
/* this makes the navbar tabs light up when you scroll to their respective section */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #27282D;
  background-color: #FFC21C;
  border-radius: 5px;
  }



/* le Classic Knowitwall highlight */
.highlight {
  color: black;
  background-color: rgba(255, 194, 28, 0.8);
  padding: 0em 0.2em;
  border-radius: 3px;
  font-weight: 300;
}

/* Yellow titles for each episode */
/* TODO: this overlaps a lot with `box_episode_title`; need to modify the classes
  in html accordingly  */
.episode-title {
  font-size:3em;
  font-family: 'Lato';
  font-weight: 300;
  color:#33353d;
  background-color: rgba(255, 194, 28, 0.8);
  margin-bottom: 30px;
  display: inline-block;
  line-height: 110%;
  padding: 0.3em 0.4em;
  border-radius: 10px;
}
@media(max-width:561px) {
  .episode-title {
    font-size:2em;
    white-space: normal;
    padding: 0em;
  }
}
/* This complements `episode-title`. Used in the homapage and archive*/
/* used to be `box_episode_title` */
.alt_episode-title {
  margin-top: 20%;
  font-size:1.2em;
  border-radius: 3px;
}
@media(max-width:561px) {
  .alt_episode-title {
    margin-top: 20%;
    font-size:1.6em;
    white-space: normal;
    padding: 0em;
    /*margin-top: 0.4em;*/
  }
}
