extends ./base.jade
block content
    .row
        .col-md-6.text-center
            .row
                h2.text-center Science
            .row.text-center
                img.img-responsive(src='/static/Images/Jup_and_Gan.jpg', width='700', alt=' photo Jup_and_Gan.jpg')
        .col-md-6.text-center
            .row
                h2.text-center please leave some feedback on the audio-doc
            .row
                .ss-form
                    form#ss-form(action='https://docs.google.com/forms/d/1fts-arfgkip8gIvuELhk0SBbOKB7aVTT2XuSTSnFYps/formResponse', method='POST', target='_self', onsubmit='')
                        ol.ss-question-list(role='list', style='padding-left: 0;')
                            .ss-form-entry
                                textarea.form-control#entry_755159605.ss-q-long(name='entry.755159605', rows='8', cols='0', dir='auto', aria-label='Comments  ', placeholder="comments")
                            input#ss-submit.jfk-button.jfk-button-action.btn.btn-success.btn-lg.btn-block(type='submit', name='submit', value='Submit')
    .row
    .row
        .col-md-8.boxed
            p content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent audio content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent audio content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent audio content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent audio content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
            content contentcontent contentcontent contentcontent contentcontent content content contentcontent contentcontent contentcontent contentcontent content 
        .col-md-1
        .col-md-3.boxed 
            .row.text-center
                h3.text-center Mehdi Ben Slama
                img(src='/static/Images/Mehdi.jpg', alt='some text', width='200')
            .row.text-center.boxed_invisible
                p Medhi is a Ph.D. researcher in Space Physics at Imperial College London. When his head is not up above the clouds, he enjoys exploring underground cave systems. Also, he is Tunisian – and yes, it’s a real country. 
        
        
                
    