<!-- this uses the opensource template for the scrolly thing -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SmartyCrap</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage fixed header and footer." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fixed, header,footer, absolute, positioned,css" />
	<meta name="Resource-type" content="Document" />
	<link href='http://fonts.googleapis.com/css?family=Lato: 100,300,400' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href="/static/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/examples.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/index.css" />


	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->



</head>
<body>



<div id="header">
	<h1><a class="home" data-scroll="" href="#home">Top</a>
	<a class="link1" data-scroll="" href="#about">Transcript</a>
	<a class="link2" data-scroll="" href="#contribute">Give Feedback</a></h1>
</div>

<div id="fullpage">
	<span id="home"></span>
	<div class="section " id="section0">
		<div class="intro">
			<h1>SmartyCrap lala</h1>
		</div>
	</div>
	<span id="about"></span>
	<div class="section" id="section1">
	    <div class="intro">
        	<h1>Transcript</h1>
            <hr/>
            {{ transcript }}

		</div>
	</div>
	<span id="contribute"></span>
	<div class="section" id="section2">
		<div class="intro">
		    <h1>Contribute</h1>
		    <hr/>
		    <p> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... </p>

		</div>
	</div>
</div>
<script type="text/javascript" src="/static/js/jquery1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.fullPage.js"></script>
<script type="text/javascript" src="/static/js/examples.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			anchors: ['home', 'about', 'contribute'],
			sectionsColor: ['#ccc', '#dfdfdf', '#f2f1f1'],
			css3: true,
			autoScrolling:false
		});
	});
</script>
<script src="/static/js/smooth-scroll.js"></script>
<script>smoothScroll.init();</script>
</body>
</html>