!!! 5
html(lang="en")
    head
        title= pageTitle
        //link(href='/static/css/audioplayer.css', rel='stylesheet')
        link(href='/static/css/bootstrap.min.css', rel='stylesheet')
        link(href='/static/css/textbox.css', rel='stylesheet')
        //link(href='/static/css/smarty_crap.css', rel='stylesheet')
        //link(href='/static/css/shorten_text.css', rel='stylesheet')




        block content

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    //script(src='/static/js/audioplayer.js')
    //script(src="http://osvaldas.info/examples/main.js")
    //script(src="http://osvaldas.info/examples/audio-player-responsive-and-touch-friendly/audioplayer.js")
    //script(src='/static/js/shorten_text.js')
    //script
        $( function()
        {
        $( 'audio' ).audioPlayer();
        });
    script(src='/static/js/smooth-scroll.js')
    script.
        smoothScroll.init();

    //deepmind stuff!!
    //script(src="/static/js/app.js")
    //script(type="text/javascript", src="//use.typekit.net/azt5qxp.js")







