<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Google DeepMind</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="description"            content="Google DeepMind">
    <meta name="viewport"               content="width=device-width, initial-scale=1">
    <link href="css/stylesheet.css"     rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="css/stylesheet-ie.css"  rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="icon"                    type="image/png" href="favicon.png" />
    <link href="css/iconfont.css"  rel="stylesheet" type="text/css" />
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-31357224-1', 'deepmind.com');
        ga('send', 'pageview');
    </script>
</head>
    <body id="home">
        <header class="underlay"></header>
        <header class="overlay">
            <ul>
                <li>
                    <a href="#">
                        <figure class="logo"></figure>
                    </a>
                </li>
                <li>
                    <ul data-id="pages">
                        <li class="menuBtn">
                            <a href="#" data-action="toggle-menu"><img class="menu" src="css/images/menu.svg" /><img class="close" src="css/images/menu-close.svg" /></a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="who-we-are">Who We Are</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="our-mission">Our Mission</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="work-with-us">Work With Us</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-action="press-enquiries">Press</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <section class="main-content">
            <article class="page" data-id="who-we-are" id="who-we-are">
                <div data-id="container">
                    <ul>
                        <li class="page-title">
                            Who We Are
                        </li>
                        <li>
                            <h1>
                                <b>DeepMind</b> is pleased to be part of <b>Google</b>.
                            </h1>
                        </li>
                        <li>
                            <p>
                                Founded in 2011 by <b><a href="http://en.wikipedia.org/wiki/Demis_Hassabis" target="_blank">Demis Hassabis</a></b>,
                                <b>Shane Legg</b> and <b><a href="http://en.wikipedia.org/wiki/Mustafa_Suleyman">Mustafa Suleyman</a></b>.<br/>The team is based in London and was supported by some of the most iconic technology
                                entrepreneurs and investors of the past decade.
                            </p>
                        </li>
                    </ul>
                    <figure class="button" data-id="work-with-us">
                        <a href=javascript:;" class="hiringButton" data-action="work-with-us">We Are Hiring!</a>
                    </figure>
                    <figure class="scroll" data-id="scroll-down">
                        <i class="icon icon-DownArrow"></i>
                        <div>Scroll Down</div>
                    </figure>
                </div>
            </article>
            <article class="page" data-id="our-mission" id="our-mission">
                <div data-id="container">
                    <ul>
                        <li class="page-title">
                            Our Mission
                        </li>
                        <li>
                            <h1>
                                Solve Intelligence
                            </h1>
                        </li>
                        <li>
                            <p>
                                We combine the best techniques from machine learning and systems neuroscience
                                to build powerful general-purpose learning algorithms.
                            </p>
                        </li>
                    </ul>
                    <figure class="scroll" data-id="scroll-down">
                        <i class="icon icon-DownArrow"></i>
                        <div></div>
                    </figure>
                </div>
            </article>
            <article class="page" data-id="work-with-us" id="work-with-us">
                <div data-id="container">
                    <ul>
                        <li class="page-title">
                            Work with us
                        </li>
                        <li>
                            <h1>
                                We are hiring!
                            </h1>
                        </li>
                        <li>
                            <p>
                                If you are an exceptional machine learning researcher, computational neuroscientist or
                                software engineer, and want to be part of a world-class team working on the most
                                exciting ground-breaking technology anywhere, in an inspiring and collaborative
                                environment, then please get in touch.
                            </p>
                        </li>
                    </ul>
                    <figure class="button" data-id="send-your-cv">
                        <a href="mailto:joinus@deepmind.com">Send Your CV</a>
                    </figure>
                    <figure class="scroll" data-id="scroll-down">
                        <i class="icon icon-DownArrow"></i>
                        <div></div>
                    </figure>
                </div>
            </article>
            <article class="page" data-id="press-enquiries" id="press-enquiries">
                <div data-id="container">
                    <ul>
                        <li class="page-title">
                            Press
                        </li>
                        <li>
                            <h1>
                                Press Enquiries
                            </h1>
                        </li>
                        <li>
                            <p>
                                If you are a member of the press and want to get in contact with us
                                for information
                                <br/>
                                or comment please email <a href="mailto:press@google.com">press@google.com</a>
                            </p>
                        </li>
                    </ul>
                    <figure class="scroll" data-id="scroll-top">
                        <i class="icon icon-UpArrow"></i>
                        <div>Top</div>
                    </figure>
                </div>
            </article>
        </section>
        <footer>
            <ul>
                <li>
                    <a href="legal.html#terms-and-conditions">Terms & Conditions</a>
                </li>
                <li>
                    <a href="legal.html#privacy-policy">Privacy &amp; Cookies</a>
                </li>
                <li class="copyright">
                    &copy; <span class="date">2014</span>, GOOGLE INC. ALL RIGHTS RESERVED.
                </li>
            </ul>
        </footer>
    </body>
    <script type="text/javascript" src="//use.typekit.net/azt5qxp.js"></script>
    <script src="scripts/app.js"></script>
</html>
