extends ./base.jade
block content
	.row
		h2.text-center learn with the smarty-est
	.row
		.col-md-5
			h2.text-center Science 
			.mainwrapper
				.box
					a(href="{{url_for('ad1')}}")
						link(href='/static/css/audiodoc_box.css', rel='stylesheet')
						img(src='/static/Images/Jupiter_and_Ganymede.jpg', width='500', alt=' photo Jupiter_and_Ganymede.jpg')
						.caption.fade-caption
							h2 Aliens in the solar system 
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							h6.text-left 6.20 min  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 4 days remaining
		.col-md-2
		.col-md-5
			h2.text-center Humanites
			.mainwrapper
				.box
					a(href="{{url_for('ad2')}}")
						link(href='/static/css/audiodoc_box.css', rel='stylesheet')
						img(src='/static/Images/Tate_Creed.jpg', width='500', height='375', alt='photo_Creed_Tate.jpg')
						.caption.fade-caption
							h2 It's at Tate but is it Art?
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							br
							h6.text-left 6.20 min  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 4 days remaining
			
	