extends ./base.jade
block content
	.row	
		h2.text-center a beta version
	// James wants to put the two columns as a big row for some reason
	.row
		// a column or row is split into 12 parts. md-6 means it's 6 units wide
		.col-md-6
			.row
				h2.text-center Science
			.row 
				iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/175126638&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')
		.col-md-5.col-md-offset-1
			.row
				.ss-form
					form#ss-form(action='https://docs.google.com/forms/d/1fts-arfgkip8gIvuELhk0SBbOKB7aVTT2XuSTSnFYps/formResponse', method='POST', target='_self', onsubmit='')
						ol.ss-question-list(role='list', style='padding-left: 0;')
							.ss-form-question.errorbox-good(role='listitem')
								.ss-item.ss-select(dir='ltr')
									.ss-form-entry
										select.form-control#entry_495276572(name='entry.495276572', aria-label='Subject  ')
											option(value='') Subject
											option(value='Science') Science
											option(value='Humanities') Humanities
							.ss-form-question.errorbox-good(role='listitem')
								.ss-item.ss-paragraph-text(dir='ltr')
									.ss-form-entry
										textarea.form-control#entry_755159605.ss-q-long(name='entry.755159605', rows='8', cols='0', dir='auto', aria-label='Comments  ', placeholder="comments")
							input#ss-submit.jfk-button.jfk-button-action.btn.btn-success.btn-lg.btn-block(type='submit', name='submit', value='Submit')
