<html>
<head>

  <script src="/static/js/jquery.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <p> this is a paragraph </p>
  <div class="this-is-single-post-wrapper">
    <h1> header for the post content!!</h1>
    <p> Some content about a post </p>
    <div class="transcript-button">
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#transcript">Read the Transcript</button>
      <div id="transcript" class="collapse">
        <h1> stuff!! </h1>
      </div>
     </div>
    <button onclick="loadDisqus(jQuery(this), 'test_disqus', 'http://localhost:5000/test');">
      Show comments
    </button>
  </div>
  <p>BREAK BETWEEN TOGGLE DISQUS COMMETNS</p>

  <div class="this-is-single-post-wrapper">
    <h1> header for the second post content!!</h1>
    <p> post number 2 </p>
    <button onclick="loadDisqus(jQuery(this), 'second_test', 'http://localhost:5000/test2');">
      Show comments
    </button>
  </div>
  <div class="this-is-single-post-wrapper">
    <h1> 3rd post header!</h1>
    <p> post number 3zzzz </p>
    <button onclick="loadDisqus(jQuery(this), 'third_test', 'http://localhost:5000/test3');">
      Show comments
    </button>
  </div>




  <script type="text/javascript">
  var disqus_shortname = 'knowitwall';
  var disqus_identifier; //made of post id and guid
  var disqus_url; //post permalink

  function loadDisqus(source, identifier, url) {

  if (window.DISQUS) {

     jQuery('#disqus_thread').insertAfter(source); //append the HTML after the link

     //if Disqus exists, call it's reset method with new parameters
     DISQUS.reset({
        reload: true,
        config: function () {
        this.page.identifier = identifier;
        this.page.url = url;
        }
     });

  } else {

     //insert a wrapper in HTML after the relevant "show comments" link
     jQuery('<div id="disqus_thread"></div>').insertAfter(source);
     disqus_identifier = identifier; //set the identifier argument
     disqus_url = url; //set the permalink argument

     //append the Disqus embed script to HTML
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
     jQuery('head').append(dsq);

  }
  };
  </script>

</body>


</html>
