<!DOCTYPE html>
<html lang="en">
{% block content %}{% endblock %}

<!-- Footer -->
<footer class="text-center">

  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h3>Follow us</h3>
          <ul class="list-inline">
            <li>
              <a href="https://www.facebook.com/KnowitWall/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>

            <li>
              <a href="https://twitter.com/KnowitWall" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
            </li>

            <li>
              <a href="https://www.youtube.com/channel/UC4K0QldO7bhHuDlfEe_qZYw" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube-play"></i></a>
            </li>

            <li>
              <a href="https://soundcloud.com/knowitwall" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-soundcloud"></i></a>
            </li>

            <li>
              <a href="https://itunes.apple.com/gb/podcast/know-it-wall/id1078105018" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-apple"></i></a>
            </li>

            <li>
              <a href="https://www.instagram.com/know.it.wall/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
            </li>

            <li>
              <a href="https://medium.com/know-it-wall" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-medium"></i></a>
            </li>

            <li>
              <a href="http://feeds.soundcloud.com/users/soundcloud:users:193446703/sounds.rss" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-rss"></i></a>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row footer-info">
        <div class="col-lg-4">
          Copyright &copy; Know it Wall <span id="copyright_year"></span>
        </div>
        <div class="col-lg-4">
          team@knowitwall.com
        </div>
        <div class="col-lg-4">
          <a href="{{url_for('terms')}}" target='_blank' class="footer-info">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</footer>

{% block jsscripts %}{% endblock %}

<script type="text/javascript">
  // replace copyright year with current year
  var copyright_year = function(){
    var current_year = new Date().getFullYear();
    $('#copyright_year').html(current_year);
  };
  copyright_year();
</script>
</html>
