{% extends "base.html" %}
{% block content %}
<head>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{audiodocs[0].topic_description}}">
  <meta name="keywords" content="Knowitwall, Know it Wall, audio-documentary, audiodoc, outreach, academia, insightful, science, humanities">
  <meta name="author" content="">
  <meta property="og:image" content="{{ audiodocs[0].topic_image }}" />
  <meta property="og:title" content="{{audiodocs[0].topic_name | safe}}{% if audiodocs[0].video_embed %} [Video]{% elif audiodocs[0].audio_mp3 %} [Audio]{% else %}{% endif %}"/>
  <meta property="og:description" content="{{audiodocs[0].topic_description | safe}}" />
  <meta property="og:url" content="http://knowitwall.com/episodes/{{audiodocs[0].url}}" />
  <link rel="icon" href="{{config.AWS_URL}}/static/Images/KIW-thumbnail_logo.png" type="image/gif" sizes="16x16">
<!-- pens -->

  <title>{{audiodocs[0].topic_name}} | Know it Wall</title>

  <link href="/static/css/audioplayer.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/circular_player.css" rel="stylesheet">

  <!-- new stylesheets -->
  <link href="/static/css/knowitwall_base.css" rel="stylesheet">
  <link href="/static/css/episode_page.css" rel="stylesheet">

  <link href="/static/css/jquery.fancybox.css" rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,300italic,300bold,400,400italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- HACK: disgusting inline style the moves the 'READ' button on the navbar to the right if the episode has audio.
                Put this in a class once the CSS cleanup is done -->
      <!-- TODO: this doesn't work for mobile! -->
      <div class="navbar-header page-scroll {% if not audiodocs[0].audio_mp3 %}text-only-margin{%endif%}">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbarADpage {% if audiodocs[0].video_embed %}navbarADpage_video{% endif %}" href=" {{url_for('index')}}">   <!-- for audiodoc, the logo goes back to home page-->

    {% include 'KiW_logo.html' %}
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if audiodocs[0].video_embed %}
          <li class="page-scroll navbar_hamburger">
            <a href="#header_video_hidden_div">Watch</a>
          </li>
          {% endif %}
          {% if audiodocs[0].audio_mp3 %}
          <li class="page-scroll navbar_hamburger">
            <a href="#episodes">Listen</a>
          </li>
          {% endif %}
          {% if audiodocs[0].audio_mp3 or audiodocs[0].video_embed %}

          <li class="page-scroll-offset navbar_hamburger">
            <a href="#read">Read</a>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- <a href="/all_episodes">All Episodes</a> -->
            <a href="{{url_for('archive')}}" id="all_episodes">All Episodes</a>
          </li>
          <li class="navbar_hamburger">
            <a href="https://www.facebook.com/KnowitWall/" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
          </li>

        </ul>
      <!-- /.navbar-collapse -->
      </div>
    <!-- /.container-fluid -->
    </div>
  </nav>

  <div id="header_video_hidden_div" style="display:hidden">
    fds
  </div>

  <!-- You can assign a modified image for the episode page header
      which will be different from the image in the archive page -->
  {% if audiodocs[0].topic_image_header %}
    {% set topic_image = audiodocs[0].topic_image_header %}
  {% else %}
    {% set topic_image = audiodocs[0].topic_image %}
  {% endif %}


  <!-- If the episode has a video -->
  {% if audiodocs[0].video_embed %}


  <header id="header_no_player" style="background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6)), url('{{ topic_image }}'); background-repeat: no-repeat; background-size:cover;">
      <div class="container container_video" style="">
        <div class="row">

          <div class="video_button_wrapper">
            <svg height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1194.8 1194.8" style="enable-background:new 0 0 1194.8 1194.8;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:none;stroke:#FFFFFF;stroke-width:20;stroke-miterlimit:10;}
              .st1{fill:white}
            </style>
            <polygon class="st0 st1" points="457.2,844.9 457.2,349.9 839.6,599.6 "></polygon>
            <circle class="st0" cx="597.4" cy="597.4" r="587.4"></circle>
            </svg>
          </div>
          <div class="col-lg-10 col-lg-offset-1 text-center">
               <div class="episode-title episode-title_video" style="background-color:transparent; color:white">
              {{audiodocs[0].topic_name | safe}}
            </div>
          </div>

          <div class="col-lg-10 col-lg-offset-1 text-center page-scroll video_author_info" id="author_name">
             <i style="color: white">by</i> <span class="highlight" style="background-color:transparent;color:white">{{audiodocs[0].author_name | safe}}</span> <i style="color: white">in</i> <span style="background-color:transparent; color:white"class="highlight">{{audiodocs[0].discipline}} </span>

        </div>
      </div>

      <!-- <div class="preview_episode_admin">
        <p>PREVIEWED EPISODE</p>
      </div> -->

      </div>
    </header>
    <!-- header with the video player. JQuery inserts the iframe -->
  <header style="display:none;" id="header_player" data-video="{{audiodocs[0].video_embed}}">
  </header>

  <!-- else if there's no video -->
  {% else %}
  <header style="background: url('{{ topic_image }}') fixed; background-repeat: no-repeat; background-size:cover;background-attachment:fixed">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <div class="episode-title">
            {{audiodocs[0].topic_name | safe}}
          </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center page-scroll" style="color: black; font-size:125%">
           <i style="color: {{audiodocs[0].by_in_colour}}">by</i> <a href="#author" class="highlight">{{audiodocs[0].author_name | safe}}</a> <i style="color: {{audiodocs[0].by_in_colour}}">in</i> <span class="highlight">{{audiodocs[0].discipline}} </span>
      </div>
    </div>

    <!-- <div class="preview_episode_admin">
      <p>PREVIEWED EPISODE</p>
    </div> -->

    <div class="row arrow_row">
      <div class="col-lg-10 col-lg-offset-1 text-center page-scroll" style="color: black; font-size:125%">
        <a class="arrow-wrap a_arrow" href="#episodes">
        <span class="arrow"></span>
        </a>
      </div>
    </div>
  </div>
  </header>
{% endif %}

  <section id="episodes" >
    <div class="container image_credits">
      <div class="row " id="image_credits">
        <p>
          {{audiodocs[0].image_credits | safe}}
        </p>
      </div>
    </div>
    <div class="container previous-audiodoc {% if not audiodocs[0].audio_mp3 %}text-only-previous-audiodoc{%endif%}">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center {% if not audiodocs[0].audio_mp3 %}text-only-abstract{%endif%}">
          <p class="audiodoc_abstact">{% if not audiodocs[0].audio_mp3 %}<i>{% endif %}{{audiodocs[0].topic_description | safe}}{% if not audiodocs[0].audio_mp3 %}</i>{% endif %}</p>
          {% if audiodocs[0].audio_mp3 %}
          <p class="audiodoc_narrate-credits">narrated by {{ audiodocs[0].narration_credits }}</p>
          <p class="audiodoc_narrate-credits">music by {{ audiodocs[0].music_credits }}</p>
          {% endif %}
        </div>
      </div>

      {% if audiodocs[0].audio_mp3 %}
      <div class="row">
        <!-- these 2 divs are used to get the variable audio & TI_box for the players -->
        <div id="audioplayer_source_mp3" style="display:none">
          {{audiodocs[0].audio_mp3}}
        </div>
        <div id="audioplayer_TI_box" style="display:none">
          {{audiodocs[0].topic_image_box}}
        </div>
        <div id="switching_audioplayers" class="col-lg-12"></div>
      </div>
      {% endif %}


      <div class="row">
        <div class="col-lg-12">
        <!-- Author -->
          <div class="author-bio">
            <div class="col-md-3">
              <img class="author-image"class="img-responsive" src="{{audiodocs[0].author_image}}"  alt = "{{audiodocs[0].author_name | safe}}">
            </div>
            <div class="col-md-3">
              <div class="author-name {% if not audiodocs[0].audio_mp3 %}text-only-author-name{%endif%}" >
              <h2 style="text-align:right; font-size: {{ audiodocs[0].name_font_size }};"> {{ audiodocs[0].author_name | safe}} </h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="vertical-line">
              <p class="audiodoc_bio"> {{ audiodocs[0].author_bio | safe}} </p>
              </div>
            </div>
          </div>
        <!-- </div> -->
        </div>
      </div>
    </div>

      <div class="container">
      <div class="row">
        <div class="col-md-12" id="read">
          <div class="transcript"> <!-- transcript class gives the padding -->
            {{ audiodocs[0].transcript | safe }}
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_sharing_toolbox" style="float: right;"></div>
          </div>
        </div>
      </div>  <!-- row -->
      <div class="row">
        <div class="col-md-12">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'knowitwall'; // Required - Replace '<example>' with your forum shortname
            var disqus_identifier = '{{audiodocs[0].unique_id}}';
            var disqus_url = 'http://knowitwall.com/{{audiodocs[0].unique_id}}';
            var disqus_title = '{{audiodocs[0].unique_id}}';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>
    </div> <!-- container -->
  </section> <!-- end of episodes -->

{% endblock %}
<!-- the footer is in base.html -->
{% block jsscripts %}

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.min.js"></script>
  <script src="/static/js/classie.js"></script>
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/knowitwall.js"></script>
  <script src="/static/js/switching_audioplayers.js"></script>
  <script src="/static/js/jquery.fancybox.pack.js"></script>


<!-- share buttons-->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55df4f643792046e" async="async"></script>

<!-- fancybox for transcript images -->
  <script type="text/javascript">
  $(document).ready(function() {
      $(".fancybox_transcript").fancybox({
          helpers : {
              overlay : {
                  css : {
                      'background' : 'rgba(119, 119, 119, 0.95)'
                  }
              },
              title : {
                type: 'inside'
              }
          }
      });
  });

  $(".fancybox_videos").fancybox({
  maxWidth	: 800,
  maxHeight	: 600,
  fitToView	: false,
  width		: '70%',
  height		: '70%',
  autoSize	: false,
  closeClick	: false,
  openEffect	: 'none',
  closeEffect	: 'none',
  helpers: {
    overlay: {
      css : {
          'background' : 'rgba(119, 119, 119, 0.95)'
      }
    }
  }
});

  </script>
  <!-- To view the video player on click -->
  <script type="text/javascript">
  $('#header_no_player').click(function(){
    // hide landing page header
    $('#header_no_player').css('display','none');
    // display video player header
    $('#header_player').css('display','block');
    // get youtube embed URL and insert in the video player header
    var data_video = $('#header_player').attr('data-video');
    var video_div = '<div class = "video_div"><iframe src="' + data_video + '" style=" width:100%; height:100%;" frameborder="0" allowfullscreen></iframe></div>';
    $('#header_player').html(video_div);

    // hide image credits
    $('#image_credits').css('display','none');
  });
  </script>

  {% if audiodocs[0].url == 'emotional_expression' %}
  <script type="text/javascript">
  $(function() {
    var width = $( window ).width();
    if (width > 768){
         $("#polanski_gif").hover(
             function() {
                 $(this).attr("src", "{{config.AWS_URL}}/static/Images/tr_image_emotional_expression_Scorsese_gif.gif");
             },
             function() {
                 $(this).attr("src", "{{config.AWS_URL}}/static/Images/tr_image_emotional_expression_Scorsese_static.jpg");
             }
         );
         $('#emotional_expression_gif').html('hover');
       }
    else {
      $('#polanski_gif').on({
       'click': function() {
            var src = ($(this).attr('src') === '{{config.AWS_URL}}/static/Images/tr_image_emotional_expression_Scorsese_gif.gif')
               ? '{{config.AWS_URL}}/static/Images/tr_image_emotional_expression_Scorsese_static.jpg'
               : '{{config.AWS_URL}}/static/Images/tr_image_emotional_expression_Scorsese_gif.gif';
            $(this).attr('src', src);
       }
   });
   $('#emotional_expression_gif').html('click');
    }
   });



  </script>
  {% endif %}

</body>
{% endblock %}
