{% extends "base.html" %}
{% block content %}

<head>

  <script src="//cdn.optimizely.com/js/3239180053.js"></script>

  <meta name="google-site-verification" content="JoE7Yhdq8T8FWWOnlh_O3I0-LhZeTCRNegIK-GY3Us8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Know it Wall (KiW) is a place for inquisitive minds. Based at UCL and Imperial College London, KiW works with academics to create documentaries and articles about the subjects they dedicate their lives to.">
  <meta name="keywords" content="Knowitwall, Know it Wall, audio-documentary, audiodoc, outreach, academia, insightful, science, humanities">
  <meta name="author" content="">
  <meta property="og:image" content="{{config.AWS_URL}}/static/Images/KiW_banner.jpg"/>
  <meta property="og:title" content="Know it Wall" />
  <meta property="og:description" content="Know it Wall (KiW) is a place for inquisitive minds. Based at UCL and Imperial College London, KiW works with academics to create documentaries and articles about the subjects they dedicate their lives to." />
  <meta property="og:url" content="http://knowitwall.com/" />
  <link rel="icon" href="{{config.AWS_URL}}/static/Images/KIW-thumbnail_logo.png" type="image/gif" sizes="16x16">
<!-- pens -->

  <title>Know it Wall | home page</title>

  <link href="/static/css/audioplayer.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/css/knowitwall_base.css" rel="stylesheet">
  <link href="/static/css/homepage.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,300italic,400,400italic," rel="stylesheet" type="text/css">


  <!-- google analytics for jeremie.coullon@gmail.com -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62559170-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body id='page-top'>



  <div class="overflow">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">


    <div class="container container_nav_bar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top">

    {% include 'KiW_logo.html' %}
        </a>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="{{ url_for('about') }}">About</a>
          </li>
          <!-- HACK: hidden div that activates just after the about section.
        That means that the about button in the navbar stops being highlighted when you go past
      the about section. -->
          <li class="page-scroll" style="display:none;">
            <a href="#episodes2">Get Involved</a>
          </li>

          <li class="page-scroll">
            <a href="#contribute">Get Involved</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Feedback</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{url_for('archive')}}" id="all_episodes">All Episodes</a>
          </li>
          <li>
            <a href="https://www.facebook.com/KnowitWall/" target="_blank" class=""><i class="fa fa-fw fa-facebook"></i></a>
          </li>
        </ul>
      <!-- /.navbar-collapse -->
      </div>

    <!-- /.container-fluid -->
    </div>
  </nav>

  <section class="episode_section_1">
    <div class="episodes_container">


      <div class="row homepage_box_row">
        {% for elem in audiodocs[0:1] %}

          <div class="col-md-12 homepage_box_col homepage_box_first_col">
            <a href="episodes/{{elem.url}}">
                <!-- for mobile: normal topic_image -->

              <div id="header_image_desktop" data-image= "{{elem.topic_image}}" style="background:url('{{elem.topic_image_latest}}');background-size:cover;background-attachment:scroll" class='homepage_box_episode homepage_box_episode_first'>

                <div class="homepage_overlay">

                   <p class="box_episode_title box_episode_title_first">
                     {{elem.topic_name | safe}}
                   </p>

                 <p class="homepage_box_by-in homepage_box_by-in_first">
                   <!-- <i>by</i> <a href="episodes/{{elem.url}}#author" class="highlight">{{elem.author_name | safe}}</a> <i>in</i> <span class="highlight">{{elem.discipline}} </span> -->
                   <i>by</i> <span class="highlight">{{elem.author_name | safe}}</span> <i>in</i> <span class="highlight">{{elem.discipline}} </span>
                 </p>
               <div class="homepage_hidden_info">
                 <p class="homepage_box_abstract homepage_box_abstract_first">{{elem.topic_description | safe}}</p>

                 <div class="audio_video_tag_div_landing_page">
                   {% if elem.video_embed %}
                   <div class="label_wrapper_landing_page film_label_wrapper_landing_page">
                     <i class="fa fa-film audio-film_label_landing_page" aria-hidden="true" style="font-size:18px;"></i>
                   </div>
                   {% endif %}
                   {% if elem.audio_mp3 %}
                   <!-- audio label -->
                   <div class="label_wrapper_landing_page audio_label_wrapper_landing_page">
                     <i class="fa fa-volume-up audio-film_label_landing_page" aria-hidden="true" style="font-size:18px;"></i>
                   </div>
                   {% endif %}
                 </div>
                 <div class="btn btn-secondary latest_landing_page" style="">FEATURED EPISODE</div>
                </div>
                <!-- <div class="preview_episode_admin">
                  <p>PREVIEWED EPISODE</p>
                </div> -->
              </div>
            </div>
            </a>
        </div>
        {% endfor %}
      </div>

      <!-- Macro for homepage episode boxes. Note how the modulo stuff is defined:
          This means that episode_1==1 starts with a small box, while episode_1==3
          starts with a big one. -->
      {% macro homepage_box(episode_1) %}
      {% if episode_1 % 4 ==3 %}
        {% set box_1 = '7' %}{% set box_2 = '5' %}
        {% else %}
        {% set box_1 = '5' %}{% set box_2 = '7' %}
      {% endif %}
      <div class="row homepage_box_row">
        {% for elem in audiodocs[episode_1:episode_1+2] %}
          <div class="col-md-{{loop.cycle(box_1,box_2)}} homepage_box_col {{loop.cycle('', 'homepage_box_col_2')}}">

            <a href="episodes/{{elem.url}}">
              <div style="background:url('{{elem.topic_image}}'); background-size:cover;background-attachment:scroll" class='homepage_box_episode'>
                <div class="homepage_overlay">
                   <p class="box_episode_title">
                     {{elem.topic_name | safe}}
                   </p>
                   <p class="homepage_box_by-in">
                     <i>by</i> <span class="highlight">{{elem.author_name | safe}}</span> <i>in</i> <span class="highlight">{{elem.discipline}} </span>
                   </p>
                 <div class="homepage_hidden_info">
                   <p class="homepage_box_abstract">{{elem.topic_description | safe}}</p>

                   <div class="audio_video_tag_div">
                     {% if elem.video_embed %}
                     <div class="label_wrapper film_label_wrapper">
                       <i class="fa fa-film audio-film_label" aria-hidden="true"></i>
                     </div>
                     {% endif %}
                     {% if elem.audio_mp3 %}
                     <div class="label_wrapper audio_label_wrapper">
                       <i class="fa fa-volume-up audio-film_label" aria-hidden="true"></i>
                     </div>
                     {% endif %}
                 </div>
                  </div>
                  <!-- <div class="preview_episode_admin">
                    <p>PREVIEWED EPISODE</p>
                  </div> -->
                </div>
              </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endmacro %}

      <!-- First row of boxes after the latest episode -->
     {{ homepage_box( episode_1 = 1 ) }}

    </div> <!-- end of episode_container -->

  </section>
      <section class="success" id="about">
        <div id="about_hidden_anchor">lala</div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
              <div id="about-left">
              <h2> What are we about?</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="vertical-line about_description">
              <p class = 'justify'>Know it Wall (KiW) is a place for inquisitive minds. From the sciences to the humanities, let world-class researchers excite your curiosity.</p>
              <br>
              <p class = 'justify'>Based at UCL and Imperial College London, KiW works with academics to make audio and video documentaries, as well as short articles, that explain what is cool or interesting about the subjects they dedicate their lives to. From <i>Stegosaurus</i> to Shakespeare, protons to pandemics, there’s no limit to what you could encounter! <a class="about_read-more" href="{{ url_for('about') }}">Learn more</a></p>
              </div>
              <!-- <div>
                <p ><a class="about_read-more" href="{{ url_for('about') }}">Learn more</a></p>
              </div> -->
            </div>
          </div>
        </div>
      </section>

  <section id="episodes2" class="episode_section_2" style="">
    <div class="episodes_container">
    <!-- 3 more rows of boxes after the About section -->
    {% for ep_num in [3,5,7,9,11] %}
     {{ homepage_box( episode_1 = ep_num ) }}
    {% endfor %}

      </div> <!-- end of episode_container -->
    </section>
</div> <!-- end of class 'overflow' -->

  <!-- Contribute Section -->
  <section id="contribute">
    <div class="container">
      <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div id="contribute-left">
          <h2> Get Involved </h2>
          </div>
              <div class="vertical-line">
              <p class = 'justify'>
                If you are an academic — or know one — whose research is too interesting to be confined to academic circles, then just get in touch.
                Our community of academics spans PhDs in mathematics to lecturers in philosophy — there’s really no subject
                we’re not interested in. The process is simple: the academic sends us the text, and we do the rest. So drop us a line at team@knowitwall.com
                with your details, institution and area of research.
              </p>
            </div>
      </div>
    </div>
    </div>
  </section>


  <!-- feedback Section -->
  <section id="contact">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="contact-title">
          <h2 class="feedbackform">We'd love to have your thoughts on our project</h2>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <form name="sentMessage" id="contactForm" novalidate>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Overall Feedback</label>
                <textarea rows="4" class="form-control" name="feedback_overall" placeholder="We need your feedback to grow! Leave your tips here" id="message" required data-validation-required-message="Please enter some feedback!"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>


            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Name (optional)</label>
                <input type="text" class="form-control" name="name" placeholder="Your name (optional)" id="name">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Email address (optional)</label>
                <input type="email" class="form-control" name="email" placeholder="Your email address (optional)" id="email">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
              <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-success btn-lg">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>
{% endblock %}

<!-- the footer is in base.html -->
{% block jsscripts %}

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>


<!-- scripts! -->

  <!-- jQuery -->
  <script src="/static/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/static/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/js/jquery.easing.min.js"></script>


  <script src="/static/js/classie.js"></script>
  <script src="/static/js/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/static/js/jqBootstrapValidation.js"></script>
  <script src="/static/js/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/static/js/knowitwall.js"></script>

  <script src="/static/js/audioplayer.js"></script>


  <script>
    $( function()
    {
        $( 'audio' ).audioPlayer();
    });
  </script>
  <!-- trying to remove an element from mailchimp signup error message -->
  <script type="text/javascript">
    $('#about-f').text(function (_,txt) {
        return txt.slice(0, -1);
    });
  </script>

  <script type="text/javascript">
  var header_image_switch = function(){
    var width = window.innerWidth
    || document.documentElement.clientWidth
    || document.body.clientWidth;
      if (width <= 768) {
        var mobile_image = $('#header_image_desktop').attr('data-image');
        console.log(mobile_image);

        $('#header_image_desktop').css({'background':'url("' + mobile_image + '")', 'background-size':'cover','background-attachment':'scroll'});
      }

  }
  header_image_switch();
  var by_in_mobile = function(){
    // makes all mobile 'by-in' white (as they're darkened all the time)
    var width = window.innerWidth
    || document.documentElement.clientWidth
    || document.body.clientWidth;
    if (width <= 768){
      $('.homepage_box_by-in > i').css('color','white');
      }
  };
  by_in_mobile();
  </script>

</body>

{% endblock %}
